@model IEnumerable<ProfileListViewModel>

<h1>Profiles</h1>

<a asp-controller="Profile" asp-action="Create">Add Profile</a>

<table>
    <thead>
        <tr>
            <th style="width:300px">Photo</th>
            <th style="width:300px">Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var profile in Model)
        {
            <tr>
                <td><p>Photo</p></td>
                <td>@profile.ProfileName</td>
            </tr>
        }
    </tbody>
</table>